<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MD_SEO>
            <version>2.0.0</version>
        </MD_SEO>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <layer>MD_SEO_Model_Catalog_Layer</layer>
                    <layer_filter_item>MD_SEO_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_category>MD_SEO_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_attribute>MD_SEO_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>MD_SEO_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>MD_SEO_Model_CatalogSearch_Layer</layer>
                    <layer_filter_attribute>MD_SEO_Model_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>MD_SEO_Model_Catalog_Resource_Layer_Filter_Attribute</layer_filter_attribute>
					<layer_filter_price>MD_SEO_Model_Catalog_Resource_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource>
            <md_seo>
                <class>MD_SEO_Model</class>
                <resourceModel>md_seo_resource</resourceModel>
            </md_seo>
            <md_seo_resource>
                <class>MD_SEO_Model_Resource</class>
                <entities>
                    <attribute_url_key>
                        <table>md_seo_attribute_url_key</table>
                    </attribute_url_key>
                </entities>
            </md_seo_resource>
        </models>
        <resources>
            <md_seo_setup>
                <setup>
                    <module>MD_SEO</module>
                </setup>
            </md_seo_setup>
        </resources>
        <blocks>
            <catalog>
                <rewrite>
                    <layer_state>MD_SEO_Block_Catalog_Layer_State</layer_state>
                    <product_list_toolbar>MD_SEO_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                    <layer_filter_attribute>MD_SEO_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>MD_SEO_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>MD_SEO_Block_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <md_seo>
                <class>MD_SEO_Block</class>
            </md_seo>
        </blocks>
        <helpers>
            <md_seo>
                <class>MD_SEO_Helper</class>
            </md_seo>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <md_seo>
                        <class>MD_SEO_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </md_seo>
                </observers>
            </controller_front_init_routers>
        </events>
        <index>
            <indexer>
                <md_seo_attribute>
                    <model>md_seo/indexer_attribute</model>
                </md_seo_attribute>
            </indexer>
        </index>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <MD_SEO before="Mage_Catalog">MD_SEO</MD_SEO>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <MD_SEO before="Mage_CatalogSearch">MD_SEO</MD_SEO>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <md_seo module="MD_SEO">
                    <file>md_seo.xml</file>
                </md_seo>
            </updates>
        </layout>
    </frontend>
    <default>
        <md_seo>
            <catalog>
                <enabled>1</enabled>
                <ajax_enabled>1</ajax_enabled>
                <price_slider>1</price_slider>
                <multiple_choise_filters>1</multiple_choise_filters>
                <routing_suffix>filter</routing_suffix>
            </catalog>
        </md_seo>
    </default>
</config>