<?xml version="1.0"?>
<config>
   <modules>
      <THR_Affiliate>
         <version>0.1.0</version>
      </THR_Affiliate>
   </modules>
   <frontend>
      <routers>
         <affiliate>
            <use>standard</use>
            <args>
               <module>THR_Affiliate</module>
               <frontName>affiliate</frontName>
            </args>
         </affiliate>
      </routers>
      <layout>
         <updates>
            <affiliate>
               <file>affiliate.xml</file>
            </affiliate>
         </updates>
      </layout>
   </frontend>
   <global>
      <helpers>
         <affiliate>
            <class>THR_Affiliate_Helper</class>
         </affiliate>
      </helpers>
      <blocks>
         <affiliate>
            <class>THR_Affiliate_Block</class>
         </affiliate>
      </blocks>
      <models>
         <affiliate>
            <class>THR_Affiliate_Model</class>
            <resourceModel>affiliate_mysql4</resourceModel>
         </affiliate>
      </models>
      <resources>
         <categoryattribute1490162033_setup>
            <setup>
               <module>THR_Affiliate</module>
               <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </categoryattribute1490162033_setup>
         <categoryattribute1490162033_write>
            <connection>
               <use>core_write</use>
            </connection>
         </categoryattribute1490162033_write>
         <categoryattribute1490162033_read>
            <connection>
               <use>core_read</use>
            </connection>
         </categoryattribute1490162033_read>
      </resources>
   </global>
   <admin>
      <routers>
         <affiliate>
            <use>admin</use>
            <args>
               <module>THR_Affiliate</module>
               <frontName>admin_affiliate</frontName>
            </args>
         </affiliate>
      </routers>
   </admin>
   <adminhtml>
      <menu>
         <affiliate module="affiliate">
            <title>THR</title>
            <sort_order>100</sort_order>
            <children>
               <affiliatebackend module="affiliate">
                  <title>Backend Page Title</title>
                  <sort_order>0</sort_order>
                  <action>admin_affiliate/adminhtml_affiliatebackend</action>
               </affiliatebackend>
               <affiliateamazon module="affiliate">
                  <title>Amz</title>
                  <sort_order>1</sort_order>
                  <action>admin_affiliate/adminhtml_amazon</action>
               </affiliateamazon>
               <affiliateflipkart module="affiliate">
                  <title>Flip</title>
                  <sort_order>2</sort_order>
                  <action>admin_affiliate/adminhtml_flipkart</action>
               </affiliateflipkart>
            </children>
         </affiliate>
      </menu>
      <acl>
         <resources>
            <all>
               <title>Allow Everything</title>
            </all>
            <admin>
               <children>
                  <affiliate translate="title" module="affiliate">
                     <title>Affiliate</title>
                     <sort_order>1000</sort_order>
                     <children>
                        <affiliatebackend translate="title">
                           <title>Backend Page Title</title>
                        </affiliatebackend>
                         <affiliateamazon module="affiliate">
                           <title>Amz</title>
                        </affiliateamazon>
                        <affiliateflipkart module="affiliate">
                           <title>Flip</title>
                        </affiliateflipkart>
                     </children>
                  </affiliate>
               </children>
            </admin>
         </resources>
      </acl>
      <layout>
         <updates>
            <affiliate>
               <file>affiliate.xml</file>
            </affiliate>
         </updates>
      </layout>
   </adminhtml>
</config>