<?xml version="1.0"?>
<config>
  <modules>
    <Attribute_Attribute>
      <version>0.1.0</version>
    </Attribute_Attribute>
  </modules>
  <global>
    <helpers>
      <attribute>
        <class>Attribute_Attribute_Helper</class>
      </attribute>
    </helpers>
	<blocks>
	  <attribute>
		<class>Attribute_Attribute_Block</class>
	  </attribute>
	</blocks>
	<models>
	  <attribute>
		<class>Attribute_Attribute_Model</class>
		<resourceModel>attribute_mysql4</resourceModel>
	  </attribute>
	  <attribute_mysql4>
		<class>Attribute_Attribute_Model_Mysql4</class>
		<entities>		  
			  <attribute>
				<table>attribute</table>
			  </attribute>
		</entities>
	  </attribute_mysql4>
	</models>
	<resources>
	  <attribute_setup>
		<setup>
		  <module>Attribute_Attribute</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </attribute_setup>
	  <attribute_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </attribute_write>
	  <attribute_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </attribute_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <attribute>
	    <use>admin</use>
		<args>
		  <module>Attribute_Attribute</module>
		  <frontName>admin_attribute</frontName>
		</args>
	  </attribute>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <attribute module="attribute">
		<title>Attribute</title>
		<sort_order>100</sort_order>
		<children>
		  <attribute module="attribute">
		    <title>Manage Attribute</title>
			<sort_order>0</sort_order>
			<action>admin_attribute/adminhtml_attribute</action>
		  </attribute>
		</children>
	  </attribute>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<attribute translate="title" module="attribute">
			  <title>Attribute</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <attribute translate="title">
			<title>Manage Attribute</title>
			<sort_order>0</sort_order>
		  </attribute>
			  </children>
			</attribute>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<attribute>
		  <file>attribute.xml</file>
		</attribute>
	  </updates>
	</layout>
  </adminhtml>
</config> 